@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.video-container {
  margin-top: 10px;
}

.webcam-feed {
  width: 100%;
  max-width: 600px;
  border: 2px solid #ccc;
  border-radius: 10px;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ring-container {
  position: relative;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
}

.ringring {
  border: 3px solid #62bd19;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 15px;
  top: 15px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.ringball {
  width: 15px;
  height: 15px;
  /* background: #04d361; */
  border-radius: 50px;
  /* position: absolute; */
  left: 0;
  top: 0;
}

.ringcircle {
  width: 25px;
  height: 25px;
  /* border: 1px solid #62bd19; */
  border-radius: 50px;
  position: absolute;
  left: -5px;
  top: -5px;
  animation: pulsing 1s ease-out infinite;
  opacity: 0.0
}

@keyframes pulsing {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}